.main-header{
    padding: 5px;
}

.logoImg{
    content:url("./src/assets/images/starbucks.jpg");
    height: 90px;
    width: 115px;
}

.gradient {
    background-image: linear-gradient(to right, black , #215621);
}

.line{
    /* width: 100%; */
    height: 20px;
    background: rgb(245, 242, 242);
    margin: 10px 0;
    border-radius: 5px;
}

.box{
    /* width: 100%; */
    height: 80px;
    background: rgb(245, 242, 242);
    margin: 10px 0;
    border-radius: 5px;
}

.shimmer{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  
    background: linear-gradient(100deg,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 80%);
  
    animation: shimmer 2s infinite linear;
}
  
@keyframes shimmer{
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(200%);
    }
}