.main-header{
    padding: 5px;
}

.logoImg{
    content:url("./src/assets/images/starbucks.jpg");
    height: 90px;
    width: 115px;
}

.gradient {
    background-image: linear-gradient(to right, black , #215621);
}